[Unit]

Description=Churaverse Cert renew script
Requires=docker.service

[Service]
User=ec2-user
Group=ec2-user
Type=oneshot

WorkingDirectory=/home/ec2-user/churaverse
ExecStart=/usr/local/bin/docker-compose -f docker-compose-develop.yml run --rm certbot renew 
ExecStartPost=/usr/local/bin/docker-compose -f docker-compose-develop.yml exec nginx nginx -s reload 
