.windowContainer {
  position: fixed;
  display: block;
  align-items: center;

  padding: 30px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);

  overflow: scroll;
  max-height: 80vh;

  max-width: 80vw;

  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);

  table {
    border-collapse: collapse;
    margin: 30px 0;
  }

  td {
    border-bottom: 1px solid var(--c-primary);
    padding: 10px;
    text-align: left;
  }
}

.buttonsContainer {
  button {
    margin: 0 10px;
    width: 90px;
    height: 35px;
    padding: 0;
  }

  .cancelButton {
    color: var(--c-primary-deep);

    background-color: white;
    border: 2px solid var(--c-primary-deep);
  }
}

.windowLabel {
  border-left: solid var(--c-primary) 5px;
  padding-left: 12px;
  font-size: 1.2em;
  text-align: left;
}

.keyInput {
  text-align: center;
  padding: 5px 0;
  width: 70px;
}
