:root {
  --c-primary: lightsteelblue;
  --c-primary-deep: #3c79c4;
}

.debugScreenContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  row-gap: 20px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0;
  box-shadow: none;
  left: 50px;
  top: 90px;
  width: 310px;
  max-height: calc(85vh - 130px);
}

.debugDetailScreenContainer {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  row-gap: 20px;

  padding: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0;
  box-shadow: none;

  right: 50px;
  top: 130px;
  width: 310px;
  max-height: calc(85vh - 130px);
  overflow: scroll;
}

.dialogLabel {
  border-left: solid var(--c-primary) 5px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.sectionLabel {
  font-size: 1em;
}

.itemLabel {
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 8px;
}

.dumpButton {
  padding: 10px 25px;
  margin-left: auto;
}
