:root {
  --c-primary: lightsteelblue;
  --c-primary-deep: #3c79c4;
}

.container {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  row-gap: 20px;

  padding: 30px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);

  right: 50px;
  top: 130px;

  width: 310px;
  max-height: calc(85vh - 130px);
  overflow: scroll;
}

.dialogLabel {
  border-left: solid var(--c-primary) 5px;
  padding-left: 12px;
  font-size: 1.2em;
}

.sectionLabel {
  font-size: 1em;
}

.itemLabel {
  font-size: 0.9em;
}
