.playerNameCell {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kickButtonCell {
  text-align: center;
  width: 30px; //Kick Button Width + 10px
}

.kickButton {
  width: 20px;
  height: auto;
}

.tableStyle {
  width: 300px;
  table-layout: fixed;
}
